version: "3.9"

services:

  postgres:
    image: postgres:18
    container_name: postgres
    env_file:
      -
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - postgres-network

volumes:
  postgres-data:

networks:
  postgres-network:
