node_modules
**/node_modules
dist
**/dist
.git

eslint.config.js
eslint.config.mjs
eslint.config.cjs

babel.config.js
.prettierrc
.prettierignore
.gitignore

**/*.spec.ts
**/*.spec.tsx
**/__spec__/

**/*.test.ts
**/*.test.tsx
**/__test__/

**/__e2e__/
